*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    margin: 0;
    background: #FAF9F9;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

:root{
    height: 100%;
}

/*nav bar*/
nav{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #89B0AE;
    z-index: 1;
}

.logo{
    color: #555B6E;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    color: #444;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    transition: .5s;
}

nav a:hover, nav a:active{
    color: rgb(23, 23, 23);
    background: #fffefe46;
    padding: 5px 20px;
    transition: .5s;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #444;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
        position: relative;
    }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FFD6BA;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translate(0%);
    display: flex;
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
/*//nav bar*/

/*container*/
.container{
    min-height: 100%;
    width: 80%;
    margin: 8vh auto;
}
/*//container*/

/*footer*/
footer{
    position: relative;
    background-color: #555B6E;
    height: auto;
    color: #FAF9F9;
    padding: 40px 0;
}

.footer-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 3rem;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 18px;
    font-size: 1.5rem;
}

.socials a{
    text-decoration: none;
    color: white;
}

.social a i{
    transition: color .4s ease;
}

.socials a:hover i{
    color: #BEE3DB;
}

.footer-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    background: #494d58;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
/*//footer*/

/*section*/
.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
/*//section*/

/*about section*/
.about-section{
    width: 100%;
}

.about-section h2{
    padding: 5px 0;
    text-align: center;
    font-size: 2.5rem;
    color: #555B6E;
}

.about-item h2{
    text-align: left;
    font-size: 1.5rem;
    padding: 0 15px;
}

.about-item span{
    color: #89B0AE;
}

.about-item p{
    text-align: justify;
    font-size: 1rem;
    padding: 0 15px;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-item{
    padding: 0 10px 50px 10px;
    width: 450px;
}

.about-item img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}
/*//about section*/

.submenu1{
    display: none;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#back a{
    text-decoration: none;
    color: #555B6E;
}

#back{
    clear: both;
    width: 10%;
    font-size: 100%;
    background-color: #FFD6BA;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 1% 5%;
}

#maintext{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#section{
    clear: both;
    padding: 10px;
}

#section img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

#section_img{
    width: 49%;
    float: left;
}

#section_text{
    width: 50%;
    float: right;
    text-align: justify;
}
