body{
    margin: 0;
    background: #FAF9F9;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;

}

header {
    background: #89B0AE;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    padding-bottom: 23px;

    position: relative;
}

nav ul > li > a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color:#000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

#main{
    width: 500px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-size: 30px;
    color: #555B6E;
    
}

#text{
    width: 800px;
    margin-left: auto;
    margin-right:auto;
    text-align:center!important;
}


footer{
    font-size: 13px;
    background-color: #555B6E;
    color: #FAF9F9;
    text-align: right;
    padding: 10px 23px;
}

#profile{
    width: 128px;
    margin-left: auto;
    margin-right:auto;
}

#abouttext{
    width: 500px;
    margin-left: auto;
    margin-right:auto;
    text-align:justify;
}

